.controlsContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.button {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    background-color: var(--button-bg);
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    min-width: 150px;
    text-align: center;
}

.button:hover {
    background-color: var(--button-hover-bg);
}