.piece {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}

.black {
    filter: invert(1);
}

.white {
    filter: none;
}


.hardwoodPiece {
    width: 80%;
    height: 80%;
    transform: translate(10%, 10%);
}